*{
    margin: 0;
    padding: 0;
}

header div{
    display: flex;
    justify-content: center;
}
header div img{
    width:100px;
}

nav div{
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
nav div ul{
    margin: 0 auto;
    width:700px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav div ul li{
    cursor: pointer;
}

#container{
    display: grid;
    height: auto;
    grid-template-columns: 200px auto 200px;
    grid-template-rows:auto minmax(500px, auto) auto;
    row-gap: 30px;
    min-height:min-content;
    /* height: 1000px; */
}
#container header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
#container nav{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
#container footer{
    grid-column: 1/ 4;
    grid-row: 3 / 4;
    background-color: #000;
    padding: 20px;
}
#container .contents{
    list-style: none;
    display: grid;
    padding: 20px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    align-content: flex-start;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
#container .contents .content{
    border: 2px solid #000;
    padding: 3px;
}
#container .contents img{
    position: relative;
    display: block;
    width:100%;
}

footer #last-update-date{
    color: white;
    font-size: 13px;
    text-align: center;
}

@media (max-width: 750px){
    nav div ul{
        width: 450px;
    }
}
@media (max-width: 1050px) {
    #container{
        grid-template-columns: auto;
    }
    #container .contents{
        border: none;
    }
}